.header-top {
    background-color: #eee;
    border: 0;
}

.header-top {
    min-height: 28px;
    margin-bottom: 20px;
}

.header-top .navbar-nav>li>a {
    font-size: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-top .navbar-brand {
    font-size: 90%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
}

.btn-search {
    background: #ffffff;
    border: 0;
    color: #337ab7;
}

.shopping-cart a {
    color: #ffffff;
    font-size: 200%;
}

.shopping-cart .label{
    margin-top: -30px;
    font-size: 100%;

}

.btn-buy {
    background: orange;
    color: #ffffff;
}

.product-item {
    height: 470px
}

.product-item {

}

.product-item:hover {
    background: #e5e5e5;
    cursor: pointer;
}

.thumbs {
    -webkit-padding-start: 0;
}

.thumbs li {
    list-style: none;
}