{% extends "admin.layouts.app" %}

{% block title %}Список полдьзователей{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Список полдьзователей</h1>

            <form class="form-inline well">
                <div class="form-group">
                    <label class="sr-only">Email address</label>
                    <input type="text" name="email" class="form-control" value="{{ email }}" placeholder="Название города">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Выбрать</button>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>email</th>
                    <th>Имя</th>
                    <th>Название организации</th>
                    <th>Адрес</th>
                    <th>ИНН</th>
                    <th>ОКПО</th>
                    <th style="width: 100px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.company_name }}</td>
                        <td>{{ item.company_address }}</td>
                        <td>{{ item.inn }}</td>
                        <td>{{ item.okpo }}</td>
                        <td>
                            <a href="{{ route('admin_check_user_set', {'user_id': item.id, 'is_good': 1})  }}" class="btn btn-link" title="Модерация успешно пройдена">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            </a>
                            <a href="{{ route('admin_check_user_set', {'user_id': item.id, 'is_good': 0})  }}" class="btn btn-link" title="Данные не корректны">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
        </div>
    </div>
{% endblock %}