{% extends "admin.layouts.app" %}

{% block title %}Список полдьзователей{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Список заявок</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>email</th>
                    <th>Дата создания</th>
                    <th>Что нужно</th>
                    <th>Детали</th>
                    <th>Рубрика</th>
                    <th style="width: 100px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.user.email }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.category }}</td>
                        <td>
                            <a href="{{ route('admin_check_order_check', {'user_id': item.id, 'is_good': 1})  }}" class="btn btn-link" title="Модерация успешно пройдена">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            </a>
                            <a href="{{ route('admin_check_order_cancel', {'user_id': item.id, 'is_good': 0})  }}" class="btn btn-link" title="Данные не корректны">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
        </div>
    </div>
{% endblock %}