{% extends "front.layouts.app" %}

{% block title %}О проекте{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>По Вашему запросу ничего не найдено</h1>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}

