{% extends "front.layouts.app" %}

{% block title %}Продажа запчастей {{ query }}.{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom: 24px">
        <div class="col-xs-12 col-sm-7 col-md-9">
            <p>Результатов: примерно {{ paginate.total() | number_format }}</p>
            {% if error is not empty %}
            <p>Показаны результаты по запросу <a href="{{ route('front_search_index', {'q' :  query }) }}" class="text-nowrap">{{ query }}</a></p>
            <p>Искать вместо этого <a href="{{ route('front_search_index', {'q' : error}) }}" class="text-nowrap">{{ error }}</a></p>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 text-right">
            <button type="button" class="btn btn-default"><i class="fa fa-th-large" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-th-list" aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="row">
        {% for item in paginate %}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail product-item" data-id="{{ item.id }}">

                <img class="lazy" src="http://www.divingindex.com/wp-content/themes/Sulawesi/images/upload-empty1.png" alt="{{ item.name }}" {% if item.thumbnail() is not empty %} data-original="{{ item.thumbnail().getUrl() }}"{% endif %}>

                <div class="caption">
                    <h3>{{ item.name() }}</h3>
                    <p>{{ item.code }}</p>
                    <p><strong>{{ item.price }} руб.</strong> <a href="{{ route('front_cart_add', {'id': item.id}) }}" class="btn btn-buy pull-right hidden-xs showopacity"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
        {% else %}
        <p>Нет результатов</p>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ paginate.render() | raw }}
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}

