{% extends "front.layout.base" %}

{% block title %}О проекте{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>О проекте</h1>

        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}