{% extends "front.layouts.app" %}

{% block title %}О проекте{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/alfaromeo.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/audi.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/bentley.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/bmw.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/chevrolet.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/chrysler.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/citroen.png">
            </a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/daewoo.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/fiat.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/ford.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/honda.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/hyundai.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/infinity.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/jaguar.png">
            </a>
        </div>

        <div class="col-xs-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://static-files.nodacdn.net/img/car.logos.big/jeep.png">
            </a>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}

