{% extends "front.layout.base" %}

{% block title %}О проекте{% endblock %}

{% block content %}
    <div class="row" style="margin-bottom: 24px">
        <div class="col-sm-7 col-md-9">
            <h1 style="line-height: 0">Запчасти на Toyota</h1>
        </div>
        <div class="col-sm-5 col-md-3 text-right">
            <button type="button" class="btn btn-default"><i class="fa fa-th-large" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-th-list" aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img class="lazy" src="http://www.divingindex.com/wp-content/themes/Sulawesi/images/upload-empty1.png" data-original="http://dnor.ru/media/640x480/files/8e/21/8e218e20a4d73dac39063e3da00ae204.jpg" alt="...">
                <div class="caption">
                    <h3>УАЗ 469 Подшипник ступицы</h3>
                    <p>...</p>
                    <p><strong>9 990 руб.</strong> <button type="button" class="btn btn-buy"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="http://dnor.ru/media/640x480/files/ba/d5/bad5253ac59bfe5143c13dfc252e03b9.jpg" alt="...">
                <div class="caption">
                    <h3>УАЗ 469 Подшипник ступицы</h3>
                    <p>...</p>
                    <p><strong>9 990 руб.</strong> <button type="button" class="btn btn-buy"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="http://dnor.ru/media/640x480/files/2c/3a/2c3a303519253dd8ffb2b32c431469b2.jpg" alt="...">
                <div class="caption">
                    <h3>УАЗ 469 Подшипник ступицы</h3>
                    <p>...</p>
                    <p><strong>9 990 руб.</strong> <button type="button" class="btn btn-buy"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="http://dnor.ru/media/640x480/files/9c/dd/9cdd705d72b1624438a415642181fb87.jpg" alt="...">
                <div class="caption">
                    <h3>УАЗ 469 Подшипник ступицы</h3>
                    <p>...</p>
                    <p><strong>9 990 руб.</strong> <button type="button" class="btn btn-buy"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="http://dnor.ru/media/640x480/files/d8/41/d841358975aca8f0db192c1e6e9d8cb5.jpg" alt="...">
                <div class="caption">
                    <h3>УАЗ 469 Подшипник ступицы</h3>
                    <p><strong>9 990 руб.</strong> <button type="button" class="btn btn-buy"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}

