{% extends "front.layouts.app" %}

{% block title %}{{ product.name() }}{% endblock %}
{% block content %}
    <style>
        table {
            width: 100%;
        }

        table td{
            padding: 24px 0;
        }

        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin-bottom: 50px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            font-size: 12px;
        }


        .container {
            width: auto;
            max-width: 980px;
            padding: 0 15px;
        }
        .container .text-muted {
            margin: 20px 0;
        }
    </style>

    <div class="row">
        <div class="col-xs-12 col-md-5">
            <div style="width: 300px;">
            <ul id="thumbnails">
                {% for index,item in product.images %}
                    <li><a href="#slide{{ index + 1 }}"><img src="{{ item.image.url() }}" alt=""></a></li>
                {% endfor %}
            </ul>
            <div class="thumb-box">
                <ul class="thumbs">
                    {% for index,item in product.images %}
                        <li><a href="#{{ index + 1}}" data-slide="{{ index + 1}}"><img src="{{ item.image.thumbnail() }}" alt=""></a></li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <p>{{ product.name() }}</p>
            <p>Артикул: {{ product.code }}</p>
            <p>{{ product.price }} рублей</p>
            <p><a href="{{ route('front_cart_add', {'id': product.id}) }}" class="btn btn-buy"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Купить</a></p>
        </div>
        <div class="col-xs-12 col-md-3">
            {% if (viewed | length) > 0 %}
            <h3>Вы смотрели: </h3>
            {% for item in viewed %}
                {% if item.id != product.id %}
                    <a href="{{ route('front_catalog_price_view', {'id': item.id}) }}" title="{{ item.name }} {{ item.price }}">
                        <img src="{{ item.thumbnail().url() }}" alt="" class="img-thumbnail">
                    </a>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}