<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/slippry.css">
    <link rel="stylesheet" href="/css/slippry.thumbnails.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default header-top" style="height: 10px !important; overflow: hidden">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Новосибиск</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Условия покупки <span class="sr-only">(current)</span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">8-800-123-1122</a></li>
                <li><a href="#">Регистрация</a></li>
                <li><a href="#">Вход</a></li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ route('front_home') }}">
                    <img src="http://mad-cat.su/images/zab-02.JPG" width="210px">
                </a>
            </div>
            <div class="col-md-9">
                <div style="width: 100%; margin-bottom: 24px;" >
                    <p class="text-center"><img src="http://asbo-egipet.ru/uploads/images/banners/2014/08/2ca7854cb431d61fca2e990b3b235a56.jpg"></p>
                </div>
            </div>
        </div>
    </div>
</header>


<div style="background: orange; padding: 12px 0;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 32px">
                        <div class="input-group wrapper-search">
                            {% if query is defined %}
                            <input type="text" class="form-control input-lg" value="{{ query }}">
                            {% else %}
                                <input type="text" class="form-control input-lg" placeholder="Бампер Corolla">
                            {% endif %}
                            <span class="input-group-btn">
                                <button class="btn btn-search btn-lg" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 shopping-cart text-center text-nowrap">
                <a href="{{ route('front_cart_index') }}" class="btn-cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Корзина
                </a>
                {% if cart() > 0 %}
                <span class="label label-primary">{{ cart() }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content" style="margin: 24px 0">
        <div class="col-md-12">
            {% block content %}{% endblock %}

        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row" style="padding: 0 15px">
            <div class="col-md-3">
                <p>© 2016, ООО "Биг Бойс Тойс"<br>Интернет-магазин запчастей.<br>Все права защищены.</p>
            </div>
            <div class="col-md-5">
                <p>...</p>
            </div>
            <div class="col-md-4 text-right">
                <p><img style="padding-right: 20px; float: left;" src="" alt="">Есть вопросы?<br> <a href="/feedback">Отправьте нам сообщение!</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script src="/js/slippry.min.js"></script>
<script src="/js/main.js?v=1"></script>
</body>
</html>