<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic">
    <link rel="stylesheet" href="/css/main.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="">
                    <img src="http://mad-cat.su/images/zab-02.JPG" width="210px">
                </a>
            </div>
            <div class="col-md-9 text-right">
                <div class="basket_phone_info" style="margin-top: 15px">
                    <span class="basket_phone_info_txt">Есть вопросы? Звоните!</span> <br>
                    <span style="font-size: 20px">8 (800) 700-43-43</span><br>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row content" style="margin: 24px 0">
        <div class="col-md-12">
            {% block content %}{% endblock %}

        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row" style="padding: 0 15px">
            <div class="col-md-9">
                <p>© ЗАО "Связной логистика" 2002-2016. Все права защищены.<br>
                Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.</p>
            </div>
            <div class="col-md-3 text-right">
                <p><img style="padding-right: 20px; float: left;" src="" alt="">Есть вопросы?<br> <a href="/feedback">Отправьте нам сообщение!</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>