{% extends "front.layouts.clear" %}

{% block title %}Оформление заказа{% endblock %}
{% block content %}
    <h1>Оформление заказа</h1>

    <div class="well">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Контактная информация</h3>
                <p>Если у вас есть аккаунт на сайте, авторизуйтесь, чтобы контактные данные добавились в заказ автоматически.</p>
            </div>
            <div class="col-md-2 text-right">x</div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <input type="email" class="form-control" placeholder="Введите Логин или E-mail">
            </div>
            <div class="col-md-4">
                <input type="password" class="form-control" placeholder="Введите пароль">
            </div>
        </div>

        <div class="row" style="margin-top: 24px;">
            <div class="col-md-4 col-md-offset-2">
                <p>Авторизация через:
                    <button type="button" class="btn btn-primary"><i class="fa fa-google-plus" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-vk" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                </p>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-block">Войти</button>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 48px;">
        <div class="col-md-8 col-md-offset-2">
            <h3>Продолжить без авторизации</h3>

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" value="Новосибирск">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Введите имя оформителя">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="+7 ( ___ ) ___ - __ - __">
                    <span class="help-block">Номер телефона вводится без 8. Например, (909) 999-99-99</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Электронная почта">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <a href="{{ route('front_cart_index') }}" class="btn btn-default btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> Назад</a>
        </div>
        <div class="col-md-3 col-md-offset-2 form-group text-right">
            <button type="submit" class="btn btn-success btn-block">Оформить заказ <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
{% endblock %}

