{% extends "front.layouts.clear" %}

{% block title %}Корзина{% endblock %}
{% block content %}
    <style>
        table {
            width: 100%;
        }

        table td{
            padding: 24px 0;
        }

        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin-bottom: 50px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            font-size: 12px;
        }


        .container {
            width: auto;
            max-width: 980px;
            padding: 0 15px;
        }
        .container .text-muted {
            margin: 20px 0;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <h1>Корзина</h1>

            <table>
                <tbody>
                {% for item in list %}
                    <tr>
                    <td class="text-center"><img src="{{ item.thumbnail().getThumbnail()}}" alt=""></td>
                    <td>
                        <h5>{{ item.name() }} {{ item.id }}</h5>
                        <p>{{ item.code }} <a href="">найти аналоги</a></p>
                    </td>
                    <td>1 шт</td>
                    <td>{{ item.price }} руб./шт.</td>
                    <td><a href="{{ route('front_cart_remove', {'id': item.id}) }}" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-bottom: 24px; padding: 12px">
                <p>Итоговая стоимость без учета доставки: {{ sum | number_format }} руб.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <a href="{{ referrer }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Вернуться к покупкам</a>
        </div>

        <div class="col-md-5 text-right">
            <a href="{{ route('front_cart_order') }}" class="btn btn-success">Оформить заказ <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}

