{% extends "admin.layouts.app" %}

{% block title %}Список товаров{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Список товаров</h1>



            <div class="row">
                <div class="col-md-11">
                    <form class="form-inline well">
                        <div class="form-group">
                            <label class="sr-only">Email address</label>
                            <input type="text" name="q" class="form-control" value="{{ query }}" placeholder="Бампер BMW">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></span> Выбрать</button>
                    </form>
                    </div>
                <div class="col-md-1">
                    <a href="{{ route('admin_product_create') }}" class="btn btn-success btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th colspan="2">Обложка</th>
                    <th>Производитель</th>
                    <th>Модель</th>
                    <th>Название</th>
                    <th>Код</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        {% if item.images.count() > 0 %}
                            <td style="width: 50px"> <img src="{{ item.thumbnail().thumbnail() }}" alt="..." class="img-thumbnail"></td>
                            <td class="text-nowrap">x {{ item.images.count() }}</td>
                        {% else %}
                            <td><i class="fa fa-camera" aria-hidden="true"></i></td>
                            <td class="text-nowrap">x 0</td>
                        {% endif %}
                        <td>{{ item.maker }}</td>
                        <td>{{ item.model }}</td>
                        <td>{{ item.part }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <a href="{{ route('admin_product_view', {'id': item.id})  }}" class="btn btn-link" title="Редатировать описание товара">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
        </div>
    </div>
{% endblock %}
