{% extends "admin.layouts.app" %}

{% block title %}Список товаров{% endblock %}
{% block content %}
    <style>
        .hidden-form {
            width: 1px;
            height: 1px;
            overflow: hidden;
            position: absolute;
            top:1px;
            left: 1px;
        }
    </style>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <h1>Редактирование товара</h1>

            <!--
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-check" aria-hidden="true"></i> Данные успешно сохранены
            </div>
            -->

            {% if product.id > 0 %}
            <form method="post" action="{{ route('admin_product_update') }}">
                <input type="hidden" name="id" value="{{ product.id }}">
            {% else %}
            <form method="post" action="{{ route('admin_product_insert') }}">
            {% endif %}
                <div class="form-group">
                    <label>Производитель</label>
                    <input type="text" class="form-control" name="maker" value="{{ product.maker }}" required>
                </div>

                <div class="form-group">
                    <label>Модель</label>
                    <input type="text" class="form-control" name="model" value="{{ product.model }}" required>
                </div>

                <div class="form-group">
                    <label>Название</label>
                    <input type="text" class="form-control" name="part" value="{{ product.part }}" required>
                </div>

                <div class="form-group">
                    <label>Код</label>
                    <input type="text" class="form-control" name="code" value="{{ product.code }}">
                </div>

                <div class="form-group">
                    <label>Цена</label>
                    <input type="text" class="form-control" name="price" value="{{ product.price }}" required>
                </div>

                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Сохранить</button>
            </form>
        </div>

        <div class="col-lg-7 col-md-7">

            <div class="hidden-form">
            <form class="form-horizontal upload-image" id="upload" enctype="multipart/form-data" method="post" action="{{ route('admin_image_upload') }}">
                <input type="hidden" name="product_id" value="{{ product.id }}" />
                <input type="file" name="image" id="image" onchange="this.form.submit()"/>
            </form>
            </div>


            {% if product.id > 0 %}
            <h3><i class="fa fa-camera" aria-hidden="true"></i> Фотографии</h3>

            <div class="row">
                <div class="col-xs-4 col-md-3 col-lg-2 text-center">
                    <button type="button" class="btn btn-success btn-lg btn-upload-image"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>

                {% for item in product.images %}
                <div class="col-xs-4 col-md-3 col-lg-2">
                <div class="thumbnail text-center">
                    <div class="caption">
                        <form class="form-horizontal" method="post" action="{{ route('admin_image_set_thumbnail') }}">
                            <input type="hidden" name="product_id" value="{{ product.id }}" />
                            <input type="hidden" name="image_id" value="{{ item.image.id }}" />
                            <input type="hidden" name="status" value="0" />

                            {% if item.thumbnail %}
                                <div class="checkbox disabled">
                                    <label><input type="checkbox" checked disabled> Первая</label>
                                </div>
                            {% else %}
                                <div class="checkbox">
                                    <label><input type="checkbox" name="status" value="1" onchange="this.form.submit()"> Первая</label>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                    <img src="{{ item.image.thumbnail() }}" alt="...">
                    <div class="caption">
                        <p ><a href="{{ route('admin_image_delete', {'productId': product.id, 'imageId': item.image.id}) }}" class="btn btn-danger" role="button"><i class="fa fa-times" aria-hidden="true"></i></a></p>
                    </div>
                </div>
            </div>

            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('.btn-upload-image').click(function(){
                $('.upload-image [type="file"]').click();
            });
        });
    </script>
{% endblock %}